
h2 {
    text-align:center;
    font-size: 30px;
    text-transform: capitalize;
}

p {
    text-align:center;
    font-size: 30px;
    color: coral;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

form {
    text-align:center;
}

.non-center {
    text-align: left;
    font-size: 15px;
    color: black;
}